.cabeçalho{background-color: rgb(34, 122, 5); 
    color: #ff0000; 
    display: flex;
     justify-content: center; }
     
    .imagem-logo{
        width: 20%;
    }
    .sobre-escola{
        background-image: linear-gradient(#0f5803,#18c105f2);
        color: black;
        padding: 24px 0;
        
    }